.innerContainer {
  max-width: 1280px;
  margin: auto;
}

.pokemonContainer {
  margin-top: 50px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3,max-content);
  gap: 40px;
  justify-content: center;
  text-align: center;
}

.pokemonCard {
  background: #ccc;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 5px;
  background-image: radial-gradient(rgba(0,0,0,.6), rgba(0,0,0,.4)), url(./assets/img/pokemon-card-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  padding-top: 20px;
  transition: all .2s;
}
.pokemonCard:hover {
  box-shadow: 0 2px 8px rgba(122, 99, 6, 0.4);
  background-image: radial-gradient(rgba(0,0,0,.4), rgba(0,0,0,.2)), url(./assets/img/pokemon-card-bg.jpg);
}
.pokemonCard:active {
  box-shadow: 0 2px 4px rgba(122, 99, 6, 0.2);
}

.buttonContainer {
  width: max-content;
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.buttonContainer button {
  border: none;
  padding: 10px;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: capitalize;
  width: 100px;
  background-color: #d39a0be2;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  transition: all .2s;
}
.buttonContainer button:disabled,.buttonContainer button:disabled:hover {
  background: #4f3901e2;
  cursor: not-allowed;
}

.buttonContainer button:hover {
  background-color: #d79e0f;
}